body {
    font-size: 1em;
    background-image: url("../img/bg/star.gif");
    background-attachment: fixed;
    background-repeat: repeat;
    font-family: Arial, Verdana, sans-serif;
}

.container {
    width: 70%;
    margin: auto;
    background-color: white;
    height: 1000px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    @media screen and (max-width: 800px) {
        width: 100%;
    }

    .banner {
        height: 10em;
        background-color: blue;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}
