body {
    font-size: 1em;
    background-image: url("../img/bg/star.gif");
    background-attachment: fixed;
    background-repeat: repeat;
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
    background-color: white;
    height: 1000px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    @media screen and (max-width: 800px) {
        
    }

    .banner {
        height: 10em;
        background-color: blue;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}

@media screen and (max-width: 800px) {
    body {
        position: relative;
        top: 64px;
    }
    
    .container {
        width: 100%;
    }

    .nav {
        li {
            left: 6em;
            width: 20vw;
            float: left;
            -webkit-transform: none !important;
            transform: none !important;
            box-shadow: none !important;

            a {
            visibility: hidden;
            }

            span{
                padding-right: 0 !important;
                right: 40% !important;
            }
        }
    }

}
